<div  class="heading"><h2>リスト検索</h2></div>

<!--検索機能実装-->
<%= search_form_for @q do |f| %>
    <table width = "90%">
      <col width="20%">
      <col width="30%">
      <col width="20%">
      <col width="30%">
      <tbody>
          <tr>
            <th colspan = "4">検索</th>
          </tr>
          <tr>
            <th>会社名</th>
            <td><%= f.search_field :company_cont, type: "text" %></td>
            <th>店舗名</th>
		    <td><%= f.search_field :store_cont, type: "text" %> </td>
	      </tr>
	      <tr>
            <th>代表者</th>
            <td><%= f.search_field :owner_cont, type: "text" %></td>
            <th>ダイヒョウ</th>
            <td><%= f.search_field :kana_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>電話番号1</th>
            <td><%= f.search_field :tel_cont, type: "text" %></td>
            <th>電話番号2</th>
            <td><%= f.search_field :tel2_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>FAX番号</th>
            <td><%= f.search_field :fax_cont, type: "text" %></td>
            <th>業種</th>
            <td><%= f.search_field :industry_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>メール</th>
            <td><%= f.search_field :mail_cont, type: "text" %></td>
            <th>URL</th>
            <td><%= f.search_field :url_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= f.search_field :people_cont, type: "text" %></td>
            <th>住所</th>
            <td><%= f.search_field :address_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>期間</th>
            <td><%= f.search_field :date_first, type: "date" %></td>
            <th>期間</th>
            <td><%= f.search_field :date_last, type: "date" %></td>
          </tr>
          <tr>
            <th colspan = "4" ><%= f.submit '検索' %></th>
          </tr>
        <% end %>
      </tbody>
    </table>

</br>
<div  class="heading"><h2>コールリスト</h2></div>
          <table width ="90%">
              <tbody>
                   <col width="30%">
                   <col width="17%">
                   <col width="18%">
                   <col width="25%">
                   <col width="10%">
                <tr>
                  <th>会社名</th>
                  <th>代表者名</th>
                  <th>電話番号</th>
                  <th>最終更新日</th>
                  <th>編集/削除</th>
                </tr>
    <% @posts.each do |post| %>
                <tr>
                  <td><%= link_to post.company, post_path(post) %> </td>
                  <td><%= link_to post.owner, post_path(post) %></td>
                  <td><%= post.tel %></td>
                  <td><%= post.created_at %></td>
                  <td><%= link_to '編集', edit_post_path(post), class: 'command'%>
                  <%= link_to '削除', 
                    post_path(post), 
                    method: :delete, 
                    class: 'command',
                    data: { confirm: '本当に削除しますか？'} %></td>
                    <% end %>
                </tr>
                <tr>
                  <th colspan = "5">
                  前のページ<%= paginate @posts %>次のページ
                  </th>
                </tr>
              </tbody>
            </table>      

</br>
<div  class="heading"><h2>インポート</h2></div>
 
   <%= form_tag import_posts_path, multipart: true do %>
   <table width="90%">
     <tbody>
        <tr>
           <th>CSVファイルインポート</th>
        <tr>
        <tr>
           <td><%= file_field_tag :file %></td>
        <tr>
        <tr>
           <th colspan="2"><%= submit_tag "インポート" %></th>
        </tr>
    </tbody>
   </table>
<% end %>
